{
  "presets": [
    [
      "@babel/preset-env", {
        "targets": "> 0.5%",
        "modules": "commonjs",
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/preset-react"
  ]
}
